<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <title>List Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/mystyle.css}">
</head>
<body>
<div th:replace="base :: navlinks"></div>

<div class="container" style="color: #63737d; margin-top: 10px">
    <div class="jumbotron">
        <h1 style="color: #4b8f95">Flight Management</h1>
        <br />

<table> <!--to make the input bar rounded-->
    <tr>
        <th>Flight Number</th>
        <th>Departure Airport</th>
        <th>Arriving Airport</th>
        <th>Type</th>
        <th>Departure Date</th>
        <th>Price</th>
    </tr>
    <tr th:each="flight : ${flights}">
        <td style="text-align: center" th:text="${flight.flightNum}"></td>
        <td style="text-align: center" th:text="${flight.departingAirport}"></td>
        <td style="text-align: center" th:text="${flight.arrivingAirport}"></td>
        <td style="text-align: center" th:text="${flight.type}"></td>
        <td style="text-align: center" th:text="${flight.dateDepart}"></td>
        <td style="text-align: center" th:text="${flight.price}"></td>
        <td>
            <a th:href="@{/update/{flightNum}(flightNum=${flight.flightNum})}">Update</a>
            <a th:href="@{/detail/{flightNum}(flightNum=${flight.flightNum})}">Detail</a>
            <a th:href="@{/delete/{flightNum}(flightNum=${flight.flightNum})}">Delete</a>
        </td>
    </tr>
</table>
        <br />
        <br />
        <a href="/add" class="btn btn-info" role="button">Add a Flight</a>
    </div>
</div>
</body>
</html>