<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="base :: navlinks"></div>
<h1>Messages List</h1>
<!--this a tag add a link to allow user to add a message-->
<a href="/add">Add a Message</a>
<table> <!--to make the input bar rounded-->
    <tr>
        <th>Flight Number</th>
        <th>Departure Airport</th>
        <th>Arriving Airport</th>
        <th>Type</th>
        <th>Departure Date</th>
        <th>Price</th>
    </tr>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.flightNum}"></td>
        <td th:text="${flight.departingAirport}"></td>
        <td th:text="${flight.arrivingAirport}"></td>
        <td th:text="${flight.type}"></td>
        <td th:text="${flight.dateDepart}"></td>
        <td th:text="${flight.price}"></td>
        <td>
            <a th:href="@{/update/{flightNum}(flightNum=${flight.flightNum})}">Update</a>
            <a th:href="@{/detail/{flightNum}(flightNum=${flight.flightNum})}">Detail</a>
            <a th:href="@{/delete/{flightNum}(flightNum=${flight.flightNum})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>