<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Flight</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="base :: navlinks"></div>
<a href="/">Show All Flights</a>
<br />
Departure Airport : <span th:text="${flight.departingAirport}"></span><br />
Arriving Airport : <span th:text="${flight.arrivingAirport}"></span><br />
Type : <span th:text="${flight.type}"></span><br />
Departure Date : <span th:text="${flight.dateDepart}"></span><br />
Fare Price : <span th:text="${flight.price}"></span><br />

<a th:href="@{delete/{flightNum}(flightNum=${flight.flightNum})}">Delete this flight</a>


</body>
</html>