<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <title>Show Flight</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/mystyle.css}">
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container" style="color: #63737d; size: 20px; margin-top: 10px">
    <div class="jumbotron" style="text-align: justify">
        <h1 style="color: #4b8f95">Flight Detail</h1>
<br />
Departure Airport : <span th:text="${flight.departingAirport}"></span><br />
Arriving Airport : <span th:text="${flight.arrivingAirport}"></span><br />
Type : <span th:text="${flight.type}"></span><br />
Departure Date : <span th:text="${flight.dateDepart}"></span><br />
Fare Price : <span th:text="${flight.price}"></span><br />

<a th:href="@{/delete/{flightNum}(flightNum=${flight.flightNum})}">Delete this flight</a>
        <br />
        <br />
        <br />

        <br />
        <a href="/list" class="btn btn-info" role="button">Flight List</a>
        <br />
        <br />
        <a href="/add" class="btn btn-info" role="button">Add a Flight</a>

        
    </div>
</div>


</body>
</html>